{
  "extends": [
    "@moonstar-x/eslint-config/rules/typescript",
    "@moonstar-x/eslint-config/rules/node"
  ],
  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "rules": {
    "no-unused-vars": "off",
    "no-redeclare": "off",
    "camelcase": "off",
    "@typescript-eslint/no-duplicate-enum-values": "off",
    "@typescript-eslint/no-namespace": "off"
  }
}